{% extends "base.html" %}
{% block content %}
<div class="card shadow p-4" style="max-width: 600px; margin:auto;">
    <h3 class="mb-3">Edit Route</h3>

    <form method="POST">
        <div class="mb-3">
            <label class="form-label">Source City</label>
            <input type="text" name="source" value="{{ route.source }}" class="form-control" required>
        </div>
        <div class="mb-3">
            <label class="form-label">Destination City</label>
            <input type="text" name="destination" value="{{ route.destination }}" class="form-control" required>
        </div>
        <div class="mb-3">
            <label class="form-label">Distance (km)</label>
            <input type="number" name="distance" value="{{ route.distance_km }}" class="form-control" required>
        </div>
        <button class="btn btn-success">Update</button>
    </form>
</div>
{% endblock %}